@config "../tailwind.config.js";
@import "tailwindcss";

@theme {
  --animate-levitate: levitate 3s ease-in-out infinite;

  @keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
