@config "../tailwind.config.js";
@import "tailwindcss";

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(40px) scale(0.7);
    opacity: 0;
  }
  50% {
    transform: translateY(20px) scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
}

@keyframes TextfedeUp {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.5);
  }

  100% {
    opacity: 100%;
    transform: translateY(0) scale(1);
  }
}

@theme {
  --animate-levitate: levitate 3s ease-in-out infinite;
  --animate-fadeUp: fadeUp 1.5s ease both;
  --animate-TextfedeUp: TextfedeUp 3s ease;
}

.timeline-item {
  opacity: 0;
  transform: translateY(40px) scale(0.9);
}
.timeline-item.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  animation: var(--animate-fadeUp);
}
html {
  scroll-behavior: smooth;
}
